@media (max-width:768px){

}
@media (max-width:576px){
    .flex-container1 .flex-item{
           width: 100%;
    }
    .flex-item1{
        width: 100%;
        background-color: darkgoldenrod;
    }

    .flex-iem2{
        width: 100%;
    }
}

    @media (max-width:250px){
        .flex-item4{
            min-width: 100% !important;
        }
    }
